@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: rgb(177,255,255)
}

#card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    padding: 20px;
    border: 2px dashed #000;
    background-color: #ffffff;
}

h1 {
    margin: 0;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    background-color: rgb(241, 214, 214);
    color: lightcoral;
    font-size:16px;
    font-weight:600;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgba(241, 214, 214, 0.7);
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16px;
}